#nav {
    list-style: none; 
    padding: 0;  
}

.main-level a {
    margin-top: 20px !important; 
}

body {
    display: flex; 
    flex-direction: row; 
}

#sidebar {
    width: 200px; 
    flex-shrink: 0; 
}

#sidebar a {
    margin: 10px 0px; 
    text-decoration: none; 
    display: block; /* idt this is best practice but it lets me manipulate links with margins */
    color: black; 
}

.button {
    display: block; 
    margin: 10px 0px; 
    background-color: rgb(136, 176, 234); 
    padding: 10px; 
    border-radius: 10px; 
    text-decoration: none;
    color: black; 
    border: 2px solid black; 
    text-align: center; 
}

#sidebar .main-level a {
    color: purple; 
}

#current a {
    color: rgb(225, 176, 28) !important; 
}