#nav {
    list-style: none; 
    padding: 0;  
}

.main-level a {
    margin-top: 20px !important; 
}

.flexbox {
    display: flex; 
    flex-direction: row; 
}

* {
    margin: 0px; 
}

p {
    margin: 10px 0px; 
}

#main-content {
    margin: 10px; 
}

@media (max-height: 100vh) {
    #main-content {
        height: 96vh; /* for some reason this is the height where it didn't make me scroll down, idk maybe it has smth to do with margins */
    }
}

#sidebar {
    width: 200px; 
    flex-shrink: 0; 
    background: rgb(236, 236, 236); 
    padding: 10px; 
    padding-bottom: 0px; 
}

#sidebar a {
    margin: 10px 0px; 
    text-decoration: none; 
    display: block; /* idt this is best practice but it lets me manipulate links with margins */
    color: black; 
}

.button {
    display: block; 
    margin: 10px 0px; 
    background-color: rgb(136, 176, 234); 
    padding: 10px; 
    border-radius: 10px; 
    text-decoration: none;
    color: black; 
    border: 2px solid black; 
    text-align: center; 
}

#sidebar .main-level a {
    color: purple; 
}

#current a {
    color: rgb(225, 176, 28) !important; 
}

.code {
    background-color: rgb(231, 231, 231); 
    padding: 10px; 
    border-radius: 5px; 
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 30px;
    font-style: normal;
    font-size: 12px; 
    white-space: pre; 
}

.important {
    color: cornflowerblue; 
}